/* desktop >767px
tablet >377px <768px */

:root {
    --items: 1;
    /* default value for number of items */

    --default-indent: 5vw;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Muli, sans-serif;
    overflow-x: hidden;
}

/* buttons */
.item-buttons {
    display: flex;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}

.item-buttons a {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-self: flex-end;
    padding-right: 38px;
    height: 38px;
    text-decoration: none !important;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 767px) {
    .item-buttons a {
        height: 45px;
        padding-right: 45px;
    }
}

.item-buttons a + a {
    margin-left: 10px;
}

@media (max-width: 500px) {
    .item-buttons a + a {
        margin-left: 0;
    }
}

.item-buttons a::after {
    display: block;
    height: 38px;
    width: 38px;
    min-width: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 767px) {
    .item-buttons a::after {
        height: 45px;
        width: 45px;
        min-width: 45px;
        line-height: 45px;
    }
}

.item-buttons a:not(.button-full) {
    width: 38px;
}

@media (max-width: 767px) {
    .item-buttons a:not(.button-full) {
        width: 45px;
    }
}

.item-buttons a:not(.button-full)::after {
    order: -1;
    position: relative;
}

.primary-button {
    background-color: #e24e27;
    color: #fff;
}

.secondary-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

@media (max-width: 500px) {
    .secondary-button {
        background-color: rgba(34, 32, 32, 0.8);
    }
}

.primary-button:not(.button-full)::after {
    content: '\25bc'; /* down pointing triangle */
}

.secondary-button:not(.button-full)::after {
    content: '\25b2'; /* up pointing triangle */
}

.button-full {
    box-sizing: border-box;
    padding-left: 15px;
    position: relative;
    min-width: 150px;
}

.button-full::after {
    content: '\25b6'; /* right pointing triangle */
    position: absolute;
    right: 0;
}

.item-buttons-full {
    margin-top: 0;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .item-buttons-full {
        flex-direction: column;
        align-items: center;
    }
}

.item-buttons-full .button-full {
    margin-left: 0;
}

main {
    display: grid;
    grid-template-columns: 100%;
    counter-set: items var(--items) section;
}

main > *:not(footer) {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-column: 1;
}

main > header,
main>header + .item {
    grid-row: 1;
}

main > header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 25vw;
    z-index: 20;
    position: absolute;
    Padding-top: 8vh;
    padding-left: var(--default-indent);
    text-align: center;
}

@media (max-width: 1120px) {
    main > header {
        max-width: 33vw;
    }
}

@media (max-width: 767px) {
    main > header {
        max-width: 50vw;
    }
}

@media (max-width: 500px) {
    main > header {
        max-width: 80vw;
    }
}

main > header + .item {
    z-index: 10;
}

main > .item,
main > footer {
    z-index: 5;
}

.item {
    background-color: #000;
    color: #fff;
    scroll-snap-align: center;
}

.item-text {
    z-index: 1;
}

.item h2 {
    font-family: Montserrat, sans-serif;
    font-size: 0.75em;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    line-height: inherit;
}

.item h2 ~ * {
    font-size: 0.75em;
}

@media (max-width: 500px) {
    .item h2 ~ *:not(.item-buttons) {
        font-size: 0.8em;
    }
}

.item h2 ~ *:not(.item-buttons) {
    margin-right: auto;
    max-width: calc(100% - 100px);
}

@media (max-width: 767px) {
    .item h2 ~ *:not(.item-buttons) {
        max-width: calc(100% - 114px);
    }
}

@media (max-width: 500px) {
    .item h2 ~ *:not(.item-buttons) {
        max-width: 100%;
    }
}

.item-text > div {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background: rgba(48, 47, 46, 0.8);
    mix-blend-mode: multiply;
    padding: 3vh 2.5vw 3vh calc(2.5vw + 65px);
}

@media (max-width: 500px) {
    .item-text > div {
        background: rgba(48, 47, 46, 0.5);
        padding: 2.5vh 4vw calc(2.5vh + 32px);
        position: relative;
    }
}

.item-text > div * {
    margin-top: 0;
    margin-bottom: 0;
}

.item-text > div > * + * {
    margin-top: 8px;
}

.item + .item .item-text > div > .item-buttons {
    margin-top: -2px;
}

@media (max-width: 500px) {
    .item + .item:not(:last-of-type) .item-text > div > .item-buttons {
        position: absolute;
        bottom: 100%;
        right: 0;
        margin: 0;
    }
}

.item picture {
    height: 100vh;
    width: 100vw;
}

.item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 500px) {
    .item:not(:first-of-type):not(:last-of-type) img {
        width: auto;
        min-width: 100%;
        transform: translateX(-50%);
    }
}

.item + .item:not(:last-of-type) {
    grid-template-rows: auto max-content;
}

.item + .item:not(:last-of-type) picture {
    grid-row: 1;
    grid-column: 1;
}

.item + .item:not(:last-of-type) .item-text {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item ~ .item h2::before {
    counter-increment: section;
    content: counter(section) " / " counter(items);
    display: inline-block;
    width: 65px;
    margin-right: -0.3em;
    margin-left: -65px;
    word-spacing: 4px;
    font-variant-numeric: tabular-nums;
}

@media (max-width: 500px) {
    .item ~ .item h2::before {
        display: block;
        margin: 0;
        width: auto;
        position: absolute;
        bottom: 2.5vh;
        right: 4vw;
    }
}

main > header + .item {
    grid-template-columns: 25vw auto;
}

@media (max-width: 1120px) {
    main > header + .item {
        grid-template-columns: 33vw auto;
    }
}

@media (max-width: 767px) {
    main > header + .item {
        grid-template-columns: 50vw auto;
    }
}

@media (max-width: 500px) {
    main > header + .item {
        grid-template-columns: 100vw auto;
    }
}

main > header + .item picture {
    grid-row: 1;
    grid-column: 1 / span 2;
}

main > header + .item .item-text {
    grid-row: 1;
    grid-column: 1;
}

main > header + .item .item-text div {
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: calc(10vh + 80px) var(--default-indent) 8vh;
}

main > header + .item .item-text h2 + * {
    margin-top: 20px;
}

main > header + .item .item-text h2 ~ *:not(.item-buttons) {
    margin-right: 0;
    max-width: none;
}

main > header + .item .item-text .item-buttons {
    margin-top: 30px;
}

main > header + .item .item-text h2 span {
    display: block;
    margin-top: 20px;
    font-family: 'Baskervville', serif;
    font-size: 40px;
    line-height: 1;
    text-transform: none;
}

.item-text-full-height,
.item-text-full-height + * {
    grid-row: 1;
    grid-column: 1;
}

.item-text-full-height {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding-top: 50vh;
}

.item-text-full-height.item-text-full-height > div {
    padding: 3vh 2.5vw;
}

@media (max-width: 500px) {
    .item-text-full-height.item-text-full-height > div {
        background: linear-gradient(to bottom, rgba(48, 47, 46, 0), rgba(48, 47, 46, 0) 10%, rgba(48, 47, 46, 0.5) 100%);
        position: static;
        height: 40vh;
        align-items: flex-end;
        padding: 0 4vw 10vh;
    }
}

.item-text-full-height.item-text-full-height > div h2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #434343;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0.4em;
}

.item-text-full-height.item-text-full-height > div h2 + p {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100vw;
    margin-top: 0;
    max-width: 100%;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Baskervville', serif;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.01em;
}

@media (max-width: 500px) {
    .item-text-full-height.item-text-full-height > div h2 + p {
        top: auto;
        bottom: calc(15vh + 45px);
        box-sizing: border-box;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .item-text-full-height.item-text-full-height .item-buttons-full .secondary-button {
        background-color: #e24e27;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.item-text-full-height.item-text-full-height > div h2::before {
    display: none;
}

main > header h1 {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 8vh;
}

@media (max-width: 500px) {
    main > header h1 {
        font-size: 13px;
    }
}

main > header svg,
.item-text-full-height > div h2 svg {
    max-width: 7vw;
    height: auto;
    margin: 0 auto 15px;
    flex: 0 0 auto;
    order: -1;
}

@media (max-width: 1120px) {
    main > header svg,
    .item-text-full-height > div h2 svg {
        max-width: 11vw;
    }
}

@media (max-width: 767px) {
    main > header svg,
    .item-text-full-height > div h2 svg {
        max-width: 16vw;
    }
}

@media (max-width: 500px) {
    main > header svg,
    .item-text-full-height > div h2 svg {
        max-width: 22vw;
    }
}

@media (max-width: 377px) {
    main > header svg,
    .item-text-full-height > div h2 svg {
        max-width: 76px;
    }
}

main > header path {
    fill: #888;
}

@media (max-width: 500px) {
    main> header path {
        fill: #999;
    }
}

main > footer {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 40px;
    width: 40px;
}

main > footer a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main > footer svg {
    width: 25px;
    height: auto;
}

/* loading spinner */
picture {
    position: relative;
    font-size: 10px;
}

picture img {
    position: relative;
}

picture::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    color: #fff;
    opacity: 0.5;
    animation: spinner 1.3s infinite linear;
    transform-origin: 0 0;
    transform: translateZ(0);
}

@keyframes spinner {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
