body>.basket {
    padding-top: 33px;
}

body>.basket p {
    margin: 0;
    text-align: center;
}

body>.basket a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    vertical-align: bottom;
}

body>.basket a:link,
body>.basket a:visited,
body>.basket a:hover,
body>.basket a:focus,
body>.basket a:active {
    margin: 0;
    color: var(--light-grey);
}

body>.basket a svg {
    display: block;
    width: 28px;
}
