body > footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body > footer .logo a {
	display: block;
	max-width: 120px;
	margin: 20px auto 0;
}

body > footer .logo svg {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

body > footer ul {
	list-style: none;
	max-width: 120px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

body > footer ul svg {
	display: inline-block;
	width: 30px;
}

body > footer a:link,
body > footer a:visited,
body > footer a:hover,
body > footer a:focus,
body > footer a:active {
	color: var(--text-color);
}
