.slides-container {
    position: relative;
}

.slides, .slides-container {
    display: flex;
    margin: 0;
    width: 100%;
}

.slides {
    overflow: hidden;
}

.slides .slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    transition: 1s transform ease-in;
}

.slideset-slide .slide {
    transform: translate3d(-100%, 0, 0);
}

.slides dt {
    position: absolute;
    left: 5%;
    right: 5%;
    z-index: 1;
    display: flex;
}

.slides dt span {
    background-color: var(--dark-grey);
    border-bottom: 2px solid var(--dark-grey);
    color: rgba(255, 255, 255, 0.8);
    padding: 0 0.3em;
    font-size: 1.5rem;
    min-width: 0;
}

.slides dd {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slides img {
    /*max-height: 100vh;*/
    height: auto;
    width: 100%;
}

.slideset-button {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    background: #fff;
    border: none;
    border-radius: 23px;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.15);
    left: 0;
    bottom: 0;
    height: 46px;
    width: 46px;
    overflow: hidden;
    text-align: center;
    padding: 0;
    margin: 0 0 -23px -23px;
}

.home-item.item-01, .home-item.item-02 {
    display: grid;
}

.home-item.item-01 {
    grid-template-columns: calc((100vw / 12) * 0.75) auto;
}

.item-01 .slides .slide:nth-child(2n + 1) dt {
    bottom: 20%;
    align-items: flex-start;
    justify-content: flex-end;
}

.item-01 .slides .slide:nth-child(3n + 1) dt {
    top: 20%;
    align-items: flex-end;
    justify-content: flex-start;
}

.item-02 .slides .slide:nth-child(2n + 1) dt {
    top: 20%;
    align-items: flex-end;
    justify-content: flex-start;
}

.item-02 .slides .slide:nth-child(3n + 1) dt {
    bottom: 20%;
    align-items: flex-start;
    justify-content: flex-end;
}

.home-item.item-01 h2 {
    background-color: var(--dark-grey);
    color: #fff;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    line-height: calc((100vw / 12) * 0.75);
    height: 100%;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

.home-item.item-02 .slides img {
    max-width: 150%;
    width: auto;
}

.home-item.item-02 .slideset-button {
    left: 25%;
}
