.slides {
    overflow: hidden;
    display: flex;
    margin: 0;
    width: 100%;
}

.slides .slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
}

.slides dt {
    position: absolute;
    z-index: 1;
}

.slides dd {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slides img {
    /*max-height: 100vh;*/
    height: auto;
    width: 100%;
}

.home-item.item-01,
.home-item.item-02 {
    display: grid;
}

.home-item.item-01 {
    grid-template-columns: calc((100vw / 12) * 0.5) auto;
}

.home-item.item-01 h2 {
    background-color: var(--dark-grey);
    color: #fff;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    line-height: calc((100vw / 12) * 0.5);
    height: 100%;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}
