body > nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 44px 5% 0;
		display: flex;
		justify-content: space-between;
	}

	a {
		color: $text-color;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}
}
